fastapi>=0.115.0
uvicorn[standard]>=0.34.0
pydantic>=2.10.0
pydantic-settings>=2.7.0
openpyxl>=3.1.5
xlrd>=2.0.1
pandas>=2.2.0
python-multipart>=0.0.18
opencv-contrib-python-headless>=4.10.0
Pillow>=11.0.0
numpy>=2.0.0
redis>=5.2.0
rq>=2.0.0
onnxruntime-gpu==1.20.1
torch>=2.4.0
torchvision>=0.19.0
tqdm==4.67.1
ultralytics==8.3.163
